In [6]:
import sqlite3
import pandas as pd

# Load the dataset into a Pandas DataFrame
column_names = ["sepal length", "sepal width", "petal length","petal width","species"]  
df = pd.read_csv("iris.data", names=column_names, header=None)


# Connect to an in-memory SQLite database
conn = sqlite3.connect(":memory:")
df.to_sql("iris", conn, index=False, if_exists="replace")

# Run SQL queries
query = "SELECT * FROM iris LIMIT 10;"
result = pd.read_sql_query(query, conn)
print(result)

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [9]:
# Find the average 'petal width' by species
query = """
SELECT species, AVG("petal width") AS avg_petal_width 
FROM iris 
GROUP BY species;
"""
result = pd.read_sql_query(query, conn)
print(result)

           species  avg_petal_width
0      Iris-setosa            0.244
1  Iris-versicolor            1.326
2   Iris-virginica            2.026

In [10]:
# Find the correlation between 'sepal length' and 'petal length'
query = """
SELECT ( 
    (COUNT(*) * SUM("sepal length" * "petal length")) - (SUM("sepal length") * SUM("petal length"))
) / 
( 
    SQRT((COUNT(*) * SUM("sepal length" * "sepal length")) - (SUM("sepal length") * SUM("sepal length"))) * 
    SQRT((COUNT(*) * SUM("petal length" * "petal length")) - (SUM("petal length") * SUM("petal length")))
) AS correlation_sepal_petal_length
FROM iris;
"""
result = pd.read_sql_query(query, conn)
print(result)

# Close the connection
conn.close()

   correlation_sepal_petal_length
0                        0.871754