In [24]:
import pandas as pd
import numpy as np

In [28]:
column_names = ["sepal length", "sepal width", "petal length","petal width","class"]  # Replace with actual column names
df = pd.read_csv("iris.data", names=column_names, header=None)
df.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [30]:
print(df.isnull().values.any())

False

In [29]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [31]:


# Choose a column to standardize (e.g., 'sepal length (cm)')
column_idx = 0  # First column
column = df.iloc[:, column_idx]  

# Compute mean and standard deviation
mean = np.mean(column)
std = np.std(column)

# Standardize the column
df.iloc[:, column_idx] = (column - mean) / std


print(df.head())

   sepal length  sepal width  petal length  petal width        class
0     -0.900681          3.5           1.4          0.2  Iris-setosa
1     -1.143017          3.0           1.4          0.2  Iris-setosa
2     -1.385353          3.2           1.3          0.2  Iris-setosa
3     -1.506521          3.1           1.5          0.2  Iris-setosa
4     -1.021849          3.6           1.4          0.2  Iris-setosa